{% extends 'base.html' %}
{% block content %}

<h2>Resume Architect</h2>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>All Resumes</h2>
    <p>Contact</p>
    <p>Skills</p>
    <p>Work Experience</p>
    <p>Projects</p>
    <p>Education</p>
  </div>
  <div class="column" style="background-color:#bbb;">
  <form action="tables/add_skill_to_resume/"></form>
  {% for finch in finches %}
    <div class="card">
        <div class="card-content">
              <label class="card-title">
                <input type="checkbox" id="species" name="species" value="species"/>
                <span>{{ finch.species }}</span>
              </label>
        </div>
      </div>
    {% endfor %}
    <input type="submit" value="Add Skills to Resume">
    </form>
    <form action="/tables/create_skill/" method="post">
      {% csrf_token %}
      <input type="submit" value="Add New Skill">
  </form>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Resume Template</h2>
    <div id="sortTrue" class="list-group">
      <div class="list-group-item">Contact</div>
      <div class="list-group-item">Skills</div>
      <div class="list-group-item">Work Experience</div>
      <div class="list-group-item">Projects</div>
      <div class="list-group-item">Education</div>
    </div>
  </div>
</div>

{% endblock %}


<script>
  // sort: true
Sortable.create(sortTrue, {
  group: "sorting",
  sort: true
});

// sort: false
Sortable.create(sortFalse, {
  group: "sorting",
  sort: false
});
</script>
