{% extends 'base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class='row'>
    <div class="lane droptarget">
        <h1>Database of Skills, Projects...</h1>
        <div class="task" draggable="true">
            <p> Skills</p>
        </div>

        <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
    </div>
</div>
<div class='row'>
    <div class="lane droptarget">
        <h1>Resume Template</h1>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const elems = document.querySelectorAll('.collapsible');
        const instances = M.Collapsible.init(elems, options);
    });

  // Or with jQuery

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });

    document.addEventListener('DOMContentLoaded', function() {
        document.addEventListener('dragstart', function(e){
            e.target.id = 'drag-' + new Date().getTime()
            e.dataTransfer.setData('source', e.target.id)
            
        })
        document.addEventListener('dragenter', function(e) {
            if (e.target.className === 'lane droptarget') {
                e.target.style.background = 'rgba(98, 201, 255)'
            }
    
        })
        document.addEventListener('dragover', function(e){
            e.preventDefault()
        })
        document.addEventListener('dragleave', function(e){
            if (e.target.className === 'lane droptarget') {
                e.target.style.background = ''
            }
        })
        document.addEventListener('drop', function(e){
            if (e.target.className == 'lane droptarget'){
                const data = e.dataTransfer.getData('source')
                const element = document.getElementById(data)
                e.target.appendChild(element) 
                e.target.style.background = ''
            }
        })
    })
</script>

    
    {% endblock %}


